<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
    <link rel="stylesheet" href="EveryPage.css">
    <link rel="stylesheet" href="AI.css" />
</head>

<body>
    <header>
        <div class="keyboard">
            <span class="key">F</span>
            <span class="key">O</span>
            <span class="key">C</span>
            <span class="key">U</span>
            <span class="key">S</span>
            <span class="key">H</span>
            <span class="key">U</span>
            <span class="key">B</span>
        </div>
    </header>
    <nav id="navbar">
        <ul class="ul"><a class="navtext" href="homepage">Home</a></ul>
        <ul class="ul"><a class="navtext" href="map">Map</a></ul>
        <ul class="ul"><a class="navtext" href="AI">AI assistant</a></ul>
        <ul class="ul"><a class="navtext" href="calender">Calender</a></ul>
        <ul class="ul"><a class="navtext" href="notes">Notes</a></ul>
        <ul class="ul"><a class="navtext" href="logout">Logout</a></ul>

    </nav>
    <main>
        <h2>AI ChatBot</h2>
        <div id="">


            <!-- Chatbot Container -->
            <div id="chatbot-container" class="hidden">
                <div id="chatbot-header">
                    <span id="header">Chatbot</span>
                </div>
                <div id="chatbot-body">
                    <div id="chatbot-messages"></div>
                </div>
                <div id="chatbot-input-container">
                    <input type="text" id="chatbot-input" placeholder="Type a message..." />
                    <button id="send-btn">Send</button>
                </div>
            </div>
        </div>
    </main>

    <script src="AI.js" defer></script>
</body>

</html>