<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="EveryPage.css">
</head>

<body>
    <header>
        <div class="keyboard">
            <span class="key">F</span>
            <span class="key">O</span>
            <span class="key">C</span>
            <span class="key">U</span>
            <span class="key">S</span>
            <span class="key">H</span>
            <span class="key">U</span>
            <span class="key">B</span>
        </div>
        <nav id="navbar">
            <ul class="ul"><a class="navtext" href="homepage">Home</a></ul>
            <ul class="ul"><a class="navtext" href="map">Map</a></ul>
            <ul class="ul"><a class="navtext" href="AI">AI assistant</a></ul>
            <ul class="ul"><a class="navtext" href="calender">Calender</a></ul>
            <ul class="ul"><a class="navtext" href="notes">Notes</a></ul>

            <ul class="ul"><a class="navtext" href="logout">Logout</a></ul>

        </nav>
    </header>
    <form action="/logout" method="POST">
        <input type="submit" value="Logout">
    </form>



    <script></script>
</body>

</html>