body {
    background-color: white;
}


header {
    text-align: center;
    background-color: lightblue;
    padding: 30px;
}

#navbar {
    display: flex;
    justify-content: center;
}

.ul {
    border: 1px solid #555555;
    padding: 20px;
    background-color: aliceblue;
}

.navtext {
    text-decoration: none;
    padding: 10px;
}