#main-container {
    display: flex;
    margin: 100px;
    justify-content: center;
    gap: 250px;
}

#intro {
    margin: 100px;
    margin-top: 0px;
    text-align: center;
    font-size: 1.2rem;
    border-color: black;
    border: 8px;
    border: solid;
    padding: 30px;
}

#register-button {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    background-color: lightblue;
    padding: 80px;
    border-radius: 20px;
    color: black;
    box-shadow: 8px 8px black;
}

#login-button {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    color: black;
    background-color: lightblue;
    padding: 80px;
    border-radius: 20px;
    box-shadow: -8px 8px black;
}

#p5-typing {
    display: flex;
    justify-content: center;
    border-color: black;
    border: 8px;
    border: solid;
}

/* LEFT rotation */
.rotate-left {
    animation: wobbleLeft 3s ease-in-out infinite;
}

/* RIGHT rotation */
.rotate-right {
    animation: wobbleRight 3s ease-in-out infinite;
}

/* Animations */
@keyframes wobbleLeft {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes wobbleRight {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


/**chatGPT animation */
#page-content {
    opacity: 0;
    transition: opacity 1s ease;
}


body.loaded .intro-title {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
}


/* Fade in page */
body.loaded #page-content {
    opacity: 1;
}

h2 {
    text-align: center;
    font-size: 350%;
    font-weight: 600;

}

p {
    text-align: center;
    font-size: 120%;
}